$primary: #d5c455;
$black: #222222;
$section_padding: 40px 80px;
$shadow: 8px 25px 28px 9px rgba(0, 0, 0, 0.09);

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@import "fonts";
@import "landing-page";
@import "about-me"