@import "fonts";

$primary: #d5c455;
$black: #222222;
$shadow: "0 24px 36px -11px rgb(0 0 0 / 9%)";

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.landing-page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .header {
        width: 100%;
        position: absolute;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;

        .logo {
            font-family: Bold;
            color: $black;
        }

        .burger-icon {
            @include flexCenter(column);
            gap: 3px;
            cursor: pointer;

            span {
                width: 20px;
                height: 1.3px;
                background: $black;
            }
        }
    }

    .left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 100px;

        .position {
            font-family: Bold;
            color: $primary;
        }        

        .name {
            font-family: Bold;
            font-size: 80px;
            line-height: 1.2;
            color: $black;
            margin-bottom: 24px;
        }

        .buttons {
            button {
                padding: 16px 24px;
                background: $primary;
                color: #fff;
                font-family: Medium;
                border: none;
                box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            
                &:last-child {
                    background: #fff;
                    color: $black
                }
            }
        }
    }

    .right {
        background: $primary;
    }
}