.section-title {
  font-family: Bold;
  font-size: 40px;
  text-align: center;
  margin: 40px;
}

@media (max-width: 600px) {
  .section-title {
    margin: 30px;
    font-size: 30px;
  }
}

@font-face {
  font-family: Bold;
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Medium;
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Regular;
  src: url("../fonts/Poppins-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-page {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.landing-page .header {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px;
}

.landing-page .header .logo {
  font-family: Bold;
  color: #222222;
}

.landing-page .header .burger-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  cursor: pointer;
  position: relative;
}

.landing-page .header .burger-icon span {
  width: 20px;
  height: 1.3px;
  background: #222222;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.landing-page .header .menu {
  position: absolute;
  right: 100px;
  top: 50px;
  background: white;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  display: none;
  padding: 40px 100px;
}

.landing-page .header .menu ul li {
  list-style: none;
}

.landing-page .header .show-menu {
  display: block;
}

.landing-page .header .burger-open span:nth-child(2) {
  opacity: 0;
}

.landing-page .header .burger-open span:first-child {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.landing-page .header .burger-open span:last-child {
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1230px) {
  .landing-page .header {
    padding: 20px 70px;
  }
}

@media (max-width: 1080px) {
  .landing-page .header {
    padding: 20px 50px;
  }
}

@media (max-width: 730px) {
  .landing-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.landing-page .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
}

@media (max-width: 730px) {
  .landing-page .left {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
}

.landing-page .left .position {
  font-family: Bold;
  color: #d5c455;
}

.landing-page .left .name {
  font-family: Bold;
  font-size: 80px;
  line-height: 1.2;
  color: #222222;
  margin-bottom: 24px;
}

@media (max-width: 1000px) {
  .landing-page .left .name {
    font-size: 50px;
  }
}

@media (max-width: 730px) {
  .landing-page .left .name {
    color: #fff;
  }
}

.landing-page .left .buttons a {
  text-decoration: none;
}

.landing-page .left .buttons a button {
  background: #d5c455;
  padding: 16px 24px;
  color: #fff;
  font-family: Medium;
  border: none;
  -webkit-box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.landing-page .left .buttons a:last-child button {
  background: #fff;
  color: #222222;
}

@media (max-width: 1230px) {
  .landing-page .left {
    padding-left: 70px;
  }
}

@media (max-width: 1080px) {
  .landing-page .left {
    padding-left: 50px;
  }
}

.landing-page .right {
  background: #d5c455;
}

.landing-page .right img {
  height: 100%;
  display: block;
  margin: auto;
}

@media (max-width: 530px) {
  .landing-page .right img {
    width: 100%;
    height: auto;
  }
}

.about-me {
  width: 100%;
  min-height: 100vh;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .about-me {
    padding: 20px 40px;
  }
}

@media (max-width: 500px) {
  .about-me {
    padding: 10px 20px;
  }
}

.about-me .content-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1150px) {
  .about-me .content-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about-me .content-wrapper .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1150px) {
  .about-me .content-wrapper .left {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .about-me .content-wrapper .left {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .about-me .content-wrapper .left {
    gap: 10px;
  }
}

.about-me .content-wrapper .left .box {
  width: 100%;
  height: 150px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.11);
  padding: 20px;
  text-align: center;
}

.about-me .content-wrapper .left .box .amount {
  font-family: Bold;
  color: #d5c455;
  font-size: 50px;
}

@media (max-width: 500px) {
  .about-me .content-wrapper .left .box .amount {
    font-size: 30px;
  }
}

.about-me .content-wrapper .left .box .name {
  font-family: Regular;
  color: #222222;
}

.about-me .content-wrapper .right {
  height: 100%;
}

.about-me .content-wrapper .right .small-text {
  font-family: Bold;
  font-size: 14px;
  color: #d5c455;
}

.about-me .content-wrapper .right .position {
  font-family: Medium;
  font-size: 30px;
  line-height: 1.2;
  margin: 15px 0;
  color: #222222;
}

@media (max-width: 800px) {
  .about-me .content-wrapper .right .position {
    font-size: 20px;
  }
}

.about-me .content-wrapper .right .summary {
  font-family: Regular;
  color: #999999;
}

.about-me .content-wrapper .right .personal-information-wrapper {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 800px) {
  .about-me .content-wrapper .right .personal-information-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about-me .content-wrapper .right .personal-information-wrapper .single-info {
  font-family: Medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me .content-wrapper .right .personal-information-wrapper .single-info span:first-child {
  width: 110px;
  color: #222222;
}

@media (max-width: 800px) {
  .about-me .content-wrapper .right .personal-information-wrapper .single-info span:first-child {
    width: 150px;
  }
}

@media (max-width: 430px) {
  .about-me .content-wrapper .right .personal-information-wrapper .single-info span:first-child {
    width: 110px;
  }
}

.about-me .content-wrapper .right .personal-information-wrapper .single-info span:last-child {
  color: #d5c455;
}

.about-me .content-wrapper .right .cv-download {
  width: 160px;
  margin-top: 20px;
  display: block;
  padding: 16px 24px;
  color: #fff;
  background: #d5c455;
  font-family: Medium;
  text-decoration: none;
}

@media (max-width: 500px) {
  .about-me .content-wrapper .right .cv-download {
    width: 140px;
    margin: auto;
    padding: 8px 12px;
    margin-top: 30px;
  }
}

.skills {
  width: 100%;
  min-height: 100vh;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .skills {
    padding: 20px 40px;
  }
}

@media (max-width: 500px) {
  .skills {
    padding: 10px 20px;
  }
}

.skills .skills-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 820px) {
  .skills .skills-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .skills .skills-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.skills .skills-wrapper .skill {
  width: 100%;
  position: relative;
}

.skills .skills-wrapper .skill label {
  display: block;
  font-family: Regular;
  color: #222222;
  font-size: 16px;
}

.skills .skills-wrapper .skill .percentage {
  position: absolute;
  color: #d5c455;
  font-family: Medium;
  text-align: right;
  top: 0;
}

.skills .skills-wrapper .skill progress {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(0, 0, 0, 0.05);
  height: 7px;
}

.skills .skills-wrapper .skill progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.05);
}

.skills .skills-wrapper .skill progress::-webkit-progress-value {
  background: #d5c455;
}

.projects {
  width: 100%;
  min-height: 100vh;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .projects {
    padding: 20px 40px;
  }
}

@media (max-width: 500px) {
  .projects {
    padding: 10px 20px;
  }
}

.projects .projects-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1000px) {
  .projects .projects-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .projects .projects-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.projects .projects-wrapper .project {
  width: 100%;
  height: 300px;
  background-image: url("https://preview.colorlib.com/theme/schmidt/images/project-3.jpg.webp");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.projects .projects-wrapper .project .overlay {
  width: 100%;
  height: 100%;
  background: rgba(213, 196, 85, 0.9);
  display: none;
  position: relative;
}

.projects .projects-wrapper .project .overlay .name {
  color: #fff;
  font-family: Bold;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

.projects .projects-wrapper .project .overlay .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects .projects-wrapper .project .overlay .links img {
  width: 30px;
}

.projects .projects-wrapper .project:hover .overlay {
  display: block;
}

.contact {
  width: 100%;
  min-height: 100vh;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .contact {
    padding: 20px 40px;
  }
}

@media (max-width: 500px) {
  .contact {
    padding: 10px 20px;
  }
}

.contact .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .social-icons img {
  width: 50px;
}
/*# sourceMappingURL=main.css.map */